# JS/TS
node_modules

# Builds
/dist

# Coverage directory used by testing tools
coverage

# npm debug logs
npm-debug.log*

# Turbo build cache
.turbo

# General #

# Visual Studio Code configuration
.vscode/

# macOS settings file 
.DS_Store

# Husky
.husky/_